.section {
  width: 100%;           /* full width */
  height: 700px;         /* basic height */
  display: flex;
  flex-direction: column;
  align-items: center;   /* center horizontally */
  margin: 50px auto;     /* spacing around section */
  border-radius: 8px;
  text-align: center;
}

.header {
  font-size: 32px;
  margin-bottom: 20px;
}

.image {
    width: 329px;
    height: auto;
    position: absolute;
    top: 160px;
    right: 88px;
    z-index: 40;
}

.rectangle {
  position: absolute;       /* allows absolute positioning inside */
  width: 298px;
  height: 471px;
  top: 202px;
  right: 134px;
  background-color: #f69833;
  border-radius: 60px; /* space so content isn't hidden behind header */
}

.intro {
  position: absolute;
  justify-content: flex-start;
  text-align: left;
  width: 895px;
  color: #f69833;

  font-size: 32px;
  height: auto;
  top: 320px;
  left: 100px;
}

.introparagraph {
  position: absolute;
  justify-content: flex-start;
  text-align: left;
  width: 895px;
  color: #f69833;

  font-size: 32px;
  height: auto;
  top: 370px;
  left: 100px;
}