.MainPage {
  position: relative;
  width: 100%;
  height: 13218px; /* I assume this is px */
  display: flex;
  flex-direction: column;
  align-items: center; /* keep horizontal centering */
  justify-content: flex-start; /* move children to top instead of middle */
  background-color: #FFFBE4; 
  overflow: hidden;
}

::selection {
  background-color: #F69833; /* your custom highlight color */
  color: #FFFBE4;              /* optional: text color when highlighted */
}  

html {
  scroll-behavior: smooth;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center; /* horizontal centering */
  scroll-margin-top: 110px;
}

.navLink {
  margin: 0px 20px;
  display: inline-block;  /* shrink to content */
  text-decoration: none; /* remove underline */
  color: inherit;        /* inherit text color from button */
  cursor: url("/assets/cursorplane.png") 0 0, pointer;
}


.imageButton {
  position: absolute;
  left: 35px;
  top: 6px;
  margin-right: auto;
  display: inline-block;
  width: 51px;      /* set your desired size */
  aspect-ratio: 1 / 1;
  background-image: url('../../public/assets/flower.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  transition: background-image 0.2s ease; /* smooth transition */ 
  cursor: pointer;

}

.imageButton:hover {
  background-image: url('/assets/flowerhovered.png');
  cursor: url("/assets/cursorpoint.png") 13 3, pointer;
}