.button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin: 0.764vw 0;
  justify-content: center;
  position: relative; /* needed for absolute curtain */
  overflow: hidden;   /* clip the curtain */
  width: auto;
}
.button:hover {
  cursor: url("/assets/cursorpoint.png") 13 3, pointer;
}

.base {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.833vw 1.5vw;
  position: relative; 
  width: auto;
  background-color: #e7ecd5;
  border: 1px solid #e7ecd5;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  z-index: 1; /* text/icon above curtain */
}


.curtain {
  position: absolute;
  left: 0;
  bottom: -102%;  /* start completely below */
  width: 100%;
  height: 100%;
  background-color: rgba(246, 152, 51, 0.5);
  z-index: 0;      /* behind text/icon */
  transition: bottom 0.5s ease; /* animate vertical position */
}

.buttonSimpleAnimations:hover .curtain {
  bottom: 0;       /* slide up on hover */
}

.text, .iconPlaceholder {
  position: relative;
  z-index: 1; /* make sure text/icon stay on top */
}
