.section {
  display: flex;
  width: 100%;
  justify-content: center; /* center rectangle horizontally */
  min-height: 400px;
  text-align: center;
  z-index: 5;
}

.rectangle {
  position: relative;       /* allows absolute positioning inside */
  width: 100%;
  height: fit-content;
  margin-bottom: 4dvw;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px; /* space so content isn't hidden behind header */
}

/* Header overlapping rectangle */
.header {
  position: absolute;       /* position relative to rectangle */
  top: -100px;               /* moves half of header above rectangle */
  left: 50%;                /* center horizontally */
  transform: translateX(-50%);
 font-size: 64px;
line-height: 150%;
font-family: 'Press Start 2P';
color: #6c7f5b;
text-align: center;
font-weight:normal;
  background-color: transparent; /* optional: leave transparent or match section */
  padding: 0 10px;
  z-index: 2;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  margin-top: 1.5rem;
}

.card {
  width:27dvw;
  padding: 2dvw;
  border-radius: 12px;
  cursor: pointer;
}

.card:hover {
    cursor: url("/assets/cursorpoint.png") 13 3, pointer;

}
.cardImage {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
    transition: transform 0.3s ease;

}
.cardImage:hover{
  border-radius: 8px;
  margin-bottom: 1rem;
transform: scale(1.03);
  transform-origin: center;
  filter: brightness(0.97); /* 10% brighter */

}

.expandedCard {
  position: fixed;
  top: 7dvh;
  transform: translate(-50dvw, -50dvh); /* combine X and Y */
  width: 80%;
  max-height: 80vh;
  max-width: 550px;
  padding: 2rem;
  border-radius: 20px;
  z-index: 1000;
}


.website {
  position: fixed;
  top: 25.5dvw;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1dvw;
  color: #F69833;
}
.link {
  color: #6c7f5b;
  text-decoration: underline;
}

.link:hover {
      cursor: url("/assets/cursorpoint.png") 13 3, pointer;
      color: #F69833;
}

.videoContainer {
  position: relative;  
}
.video {
  position: absolute;
  top:15%;
  left: 50%;
  border-radius: 2dvw;
  transform: translateX(-50%);
  width:87%;
}

.starvinyl {
  position: absolute;
  width: 24%;
  top:11%;
  left: 88%;
  transform: translateX(-50%);
}

.sound{
  position: absolute;
  width: 20%;
  top:38%;
  left: 83%;
  transform: translateX(-50%);
}