.landingPage {
  	width: 100%;
  	position: relative;
  	background-color: #fffbe4;
  	height: 842px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 48px;
  	color: #fffbe4;
  	font-family: 'Press Start 2P';
}
.mush {
  	position: absolute;
  	top: 194px;
  	left: 480px;
  	width: 481px;
  	height: 482px;
}
.mush1Icon {
  	position: absolute;
  	top: 53px;
  	left: 118px;
  	width: 245px;
  	height: 371px;
  	object-fit: cover;
}
.letsGo {
  	position: absolute;
  	top: 165px;
  	left: 506px;
  	width: 432px;
  	height: 48px;
}
.landingPageLetsGo {
  	position: absolute;
  	top: 0%;
  	left: 0%;
}

